# SPDX-FileCopyrightText: 2006-2024 Open Knowledge Foundation and contributors
# SPDX-FileContributor: Health-RI
#
# SPDX-License-Identifier: AGPL-3.0-only

.idea/.gitignore
.idea/aws.xml
.idea/gdi-metadata.iml
.idea/misc.xml
.idea/modules.xml
